@media print {
    /* some global settings */
    body {
        background: white;
        font-size: 12pt;
    }
    a:link, a:visited {
        color: #520;
        background: transparent;
        font-weight: bold;
        text-decoration: underline;
    }
    #content a:link:after, #content a:visited:after {
        content: " (" attr(href) ") ";
        font-size: 90%;
    }
}
